# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Temp
*~

# Auto
coptmod.cpp

# Others
build/
dist/
*.pyc
*.so
*egg*
__pycache__

# Optmod
coptmod.c
cdual.c